header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    grid-column: 1 / span 2;
    padding: 10px 5px;
    height: 30px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
    grid-column: 1 / span 2;
    font-size: 40px;
    margin-left: 4cqb;
}

.cell {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: black;
    padding: 5px;
    font-size: 50px;
    text-align: center;
    display: inline;
    width: 80%;
    min-width: 20px;
}
.cell:nth-child(3n){
    width: 75%;
}
.cell:nth-child(even){
    
    background-color: rgba(229, 236, 247, 0.8);
}
.cell:nth-child(27n),
.cell:nth-child(27n - 1),
.cell:nth-child(27n - 2),
.cell:nth-child(27n - 3),
.cell:nth-child(27n - 4),
.cell:nth-child(27n - 5),
.cell:nth-child(27n - 6),
.cell:nth-child(27n - 7),
.cell:nth-child(27n - 8){
    height: auto;
    height: 80%;
}

body {
    color: white;
    background-color: rgb(36, 36, 44);
    
    background-image: url("/calm-water-texture.jpg");
    background-blend-mode: multiply;
    width: 100vw;
    margin: auto;
}

input.cell {
    color: rgb(33, 33, 122);
}

img {
    max-width: 20vw;
    margin-top: -40px;
}

button {
    max-width: 50vw;
    margin-top: -5px;
    height: 40px;
}

.refresh {
    max-height: 75px;
}

.PuzzleBoard {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    background-color: #052641;
    padding: 10px; 
    width: min(50%, 700px);
    max-height: 80vh;
    margin-left: 29vw;
    min-height: 70vh
}