header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    grid-column: 1 / span 2;
    padding: 10px 5px;
}

h2 {
    text-align: center;
    display: flex;
    grid-column: 1 / span 2;
    padding: 10px;
}

.cell {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: center;
    display: inline;
}

body {
    color: white;
    background-color: rgb(36, 36, 44);
    width: 100vw;
    margin: auto;
}

.PuzzleBoard {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    background-color: #2196F3;
    padding: 10px; 
    width: 50%;
    max-height: 80vh;
    margin-left: 25vw;
    min-height: 70vh
}